.form-wrapper{
  
  
.app .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

  .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  .ql-editor {
    min-height: 8em;
  }

  .themeSwitcher {
    margin-top: 0.5em;
    font-size: small;
  }

  .product-image-upload{
    img {
      height: -webkit-fill-available !important;
    }
  }
  
  .price-input {
    max-width: 130px; 
  }
}