.logo {
  margin: 16px;
  color: $white;
  display: flex;
  font-weight: italic;
  justify-content: center;
  align-items: center;
}

.ant-layout-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.ant-layout-content {
  margin: 24px 16px 0;
  overflow: initial;
  padding: 24px;
  background: $white;
}

.ant-layout-header {
  background: $white;
}

.ant-layout-footer {
  text-align: center;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  .logout-icon{
    font-size: 25px;
    cursor: pointer;
  }
}

.m-t-30{
  margin-top: 30px;
}

.m-t-43{
  margin-top: 42px;
}